.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #171369;
  overflow-x: hidden;
  padding-top: 20px;
}

.sub a {
    margin-left:16px;
    font-size: 16px!important;}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #c3c1e6;
  display: block;
}

.sidenav a:hover {
  color: #c1e0e6;
}

.main {
  margin-left: 300px; 
  font-size: 20px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

